<h1>I vouch for <a href="{{source}}">{{source}}</a> as being unlikely to be spam.</h1>
<p>This is Hash for Vouch. Someone posted a webmention from <a href="{{source}}">{{source}}</a> and, in order to prove that
they're not a spammer, they spent some seconds doing <a href="/details">some calculations</a>. Doing this is not a serious 
problem for an actual person, but it makes spamming impractical. Because they did that calculation work and proved it to
me, I am prepared to Vouch for them.</p>

<p>If you're reading this because you received a webmention which was vouched for by Hash for Vouch, you should consider 
whether you think that this "proof of work" is enough to ensure that someone isn't a spammer. You can verify how Hash for
Vouch works by <a href="https://github.com/stuartlangridge/hash-for-vouch">checking the source code</a>; in essence,
someone sending a webmention has to provably spend some seconds doing some "hashcash"-style calculations in order 
that Hash for Vouch will vouch for them. If you consider this work to be enough, then you may want to consider 
whitelisting Hash for Vouch in future.</p>

<p>If you have questions, let <a href="http://www.kryogenix.org">sil</a> know (or on Twitter at
<a href="https://twitter.com/sil">@sil</a>).</p>